/**** Importation de la police ****/


/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    background-color: #060606;
    color: #0d0d0d;
    margin: auto;
}
  
header {
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
  
h1 {
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
}
  
p {
    padding: 2rem;
    font-size: 4rem;
    color: #ffffff;
}

/**** Responsive design tablette ****/

@media screen and (max-width: 992px) {
    h1 {
        font-size: 6rem;
    }
}
